 /********************************************************************************************************
*                                               ESTILOS INDEX
**********************************************************************************************************/

/*Utilizando el selector universal y la propiedad box-sizing, establecemos que el ancho de caja se tome de borde a borde considerando content, paddings y borders*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*Reseteamos valores a 0 y retiramos estilos predeterminados para trabajarlos posteriormente a nuestra voluntad*/
ul, li, a{
    list-style: none;
    text-decoration: none;
}

/*Utilizaremos flexbox para lograr el layout deseado de nuestro header en la versión mobile*/
header{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px 0px 0px;
}

header nav{
    width: 100%;
    padding: 5px;
    border-top:2px solid rgb(186, 4, 4);
}


/*Utilizaremos flexbox para lograr un menú horizontal*/
header nav ul{ 
    width: 100%;
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    margin:auto;
}

header nav ul li{
    width: 45%;  

}

header nav a{
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin: 20px;
}


header nav ul form input {
    width: 60%;
    margin-left: 20px;
}

header nav ul form img{
    margin:0px;
    padding: 0px;
}

header nav a:hover{
    color: rgb(186, 4, 4);
}

header img{
    max-width: 100px;
    margin: 7px 0px;
}

/*Trabajamos en la sección principal del Inicio con una imágen de fondo con una tonalidad acorde a la paleta de colores escojida y nuevamente usamos flexbox para poder ubicar títulos y botones según lo deseado*/
.sec-ppal{
    background-image: linear-gradient(rgba(186, 4, 4, 0.7), rgba(0, 0, 0, 0.5)
      ), url("../images/pexels-sebastian-ervi-1763075.jpg");
   /* height: 85vh; RESPONSIVE*/
    height:80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
    animation-duration: 3s;
    animation-name: logo;
    animation-iteration-count: infinite;
  }

@keyframes logo{
    from {
        -webkit-transform: rotate(0deg);
        transform: rotateY(0deg);
    }
    /*50%{
        -webkit-transform: rotate(180deg);
        transform: rotateY(180deg);*/
    to {
        -webkit-transform: rotate(360deg);
        transform: rotateY(360deg);
        }
}

/*Le damos estilo al título principal y al secundario*/
.sec-ppal h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 3em;
    text-shadow: 5px 5px 7px black;
}

.sec-ppal h2{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 3px;
    margin: 12px;
}

/*Con flexbox diseñamos la disposición de los botones*/
.sec-ppal .but{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

/*Le damos estilo al botón principal*/
.sec-ppal .but-ppal{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    width: 60%;
    text-align: center;
    font-size: 1em;
    color: white;
    background-color: rgba(186, 4, 4, 0.8);
    border-radius: 30px;
    padding: 17px;
    margin: 20px 0px 20px 0px;
}

/*La pseudo-clase :hover nos permite determinar el estilo de un link cuando el usuario se posiciona sobre el mismo con el ratón, en este caso cambia a un fondo blanco con una tipografía bold*/
.sec-ppal .but-ppal:hover{
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 0 0 2px rgb(186, 4, 4);
}

/*Le damos estilo al botón secundario*/
.sec-ppal .but-sec{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    width: 60%;
    text-align: center;
    font-size: 1em;
    color: white;
    border-radius: 30px;
    box-shadow: black;
    border: solid 1px white;
    padding: 15px;
    margin: auto;
}

/*Nuevamente usamos la pseudo-clase :hover para darle estilo al botón secundario cuando el usuario se posa sobre él con el ratón*/
.sec-ppal .but-sec:hover{
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
}

/*Comenzamos a darle estilo a la segunda sección, que será un brief de lo que ofreceremos en la plataforma*/
/*Definimos margenes iniciales de la sección mas abarcativa para que quede con una separación del borde del viewport*/
.sec-sec{
    padding: 0px 20px;
    background-image: url("../images/background.jpg");
    /*background-repeat:no-repeat;
    background-size: cover;
    VA PARA RESPONSIVE*/
}

.sec-sec h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #676770;
}

.sec-sec h3{
    font-family: 'Open Sans', sans-serif;
    color: #8e8e9c;
    font-weight: 300;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center
}

.circles h4{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: #676770;
    text-transform: uppercase;
    margin: 10px;
    letter-spacing: 5px;
}

/*Utilizaremos este selector avanzado para decir que queremos que le aplique las siguientes reglas de estilo a todas las imagenes que esten en un div cuya class empiece exactamente con la cadena "icon"*/
article[class^="icon"] img{
    background-color: rgb(186, 4, 4);
    max-width: 100px;
    width: 20%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px red;
    margin: 15px 0px;
} 

article[class^="icon"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #f7dcdc;
    margin-bottom: 20px;
    border-radius: 10px;
}

.circles p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    color: #676770;
}


/*Comenzamos a darle estilo a la sección de artistas*/

.artists{
    padding: 20px;
    background-color: #2b2b2b;  
}

.artists h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    padding-bottom: 10%;
}

.artists h3{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/*Daremos estilos para todas las imágenes de los artistas cuando no esta el mouse sobre ellas*/
.artist img{
    filter: brightness(60%);
    -webkit-transition: all .9s ease; /* Utilizaremos esto para safari y para chrome */
    -moz-transition: all .9s ease; /* Utilizaremos esto para Firefox */
    -o-transition: all .9s ease; /* Utilizaremos esto para I. Explorer 9 */
    -ms-transition: all .9s ease; /* Utilizaremos esto para Opera */
    transition: all .9s ease; /*Este es genérico para maximizar compatibilidad*/
    width:100%;
    border-radius: 5%;
}

/*Con la pseudo-class :hover modificaremos el brillo y la escala de la imágen de cada artista cuadno el mouse este sobre ellas*/
.artist:hover img {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    filter: brightness(100%);
}

.artist {
    width:100%;
    overflow: hidden;   
}

/*Comenzamos a darle estilo a la sección de artistas*/
.canciones-index  {
    background-image: url("../images/background-canciones.jpg");
   /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; PARA RESPONSIVE */
 }

 .canciones-index  {
     padding: 20px;
 }

  .canciones-index h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color:rgb(186, 4, 4);
    letter-spacing: 3px;
    padding-bottom:10%;
    padding-top: 10%;
 }

.canciones-index ul li {
    text-align: center;
    margin-bottom: 60px;
}

.canciones-index ul li h4 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 5px;
}

.canciones-index ul li a {
    color:rgb(186, 4, 4);
    text-decoration: none;
    margin: auto;
    font-size: 20px; 
}

.canciones-index ul li a:hover{
    color: white
}

.canciones-index figure {
   margin: auto;
}

.canciones-index figure img {
    width: 100%;
    height: 100%;
    /* imagen redonda */
    border-radius: 50%;
    border: solid rgb(186, 4, 4);
    margin-bottom: 10px;
    margin-top: 10px;
}
 /********************************************************************************************************
*                                               ESTILOS PÁGINA ARTISTA
**********************************************************************************************************/
.sec-art-ppal{
    height:82vh;
    background-image: url("../images/bruno-mars-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
}

.sec-art-ppal h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 60px;
    width: 100%;
    padding: 10px 0px 10px 10%;
    background-color: rgba(0, 0, 0, 0.8);
}

.sec-art-sec{
    background-color: black;
}

.sec-art-sec p{
    background-color: rgba(255, 255, 255, 0.767);
    color:black;
    margin:0px;
    padding:20px;
    font-family: sans-serif;
    text-align: justify;
}

.sec-art-sec h2{
    color:white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px 0px;

}

.sec-art-sec ol li{
    color:white;
    font-family: sans-serif;
    list-style: decimal;
    margin-left: 30px;
    padding: 10px 0px;
}
 /********************************************************************************************************
*                                               ESTILOS PÁGINA ABOUT US
**********************************************************************************************************/
.bod-about{
    background-color:rgb(80, 80, 80);
}

.main-about h1, .main-about h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color:white;
    margin-top:20px;
    letter-spacing: 3px;
}

.main-about h1{
    font-size: 25px;
}

.main-about h2 {
    font-size: 15px;
}

.main-about p{
    color:white;
    font-family: sans-serif;
    
}

.map{
    width:100%;
    padding:20px;
}
